body {
  padding: 0;
}

/* .spsChart-container {
  position: relative;
  margin: auto;
  height: 20vh;
  width: 100%;
} */

canvas {
  width: 100% !important;
  height: 24vh !important;
}

.ui.progress {
  margin: 0 !important;
}